@model Office.Models.CreateEmployeeModel
@{
    var departmentItems = (Model.departments).Select(d => new SelectListItem() { Value = d.Id.ToString(), Text = d.Name });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Employee</title>
</head>
<body>
    <div>
        <form method="post">

            @Html.LabelFor(m => m.employee.Name) @Html.TextBoxFor(m => m.employee.Name) * @Html.ValidationMessageFor(model => model.employee.Name)<br />
            <label>Department</label> @Html.DropDownListFor(m => m.employee.DepartmentId, departmentItems) * @Html.ValidationMessageFor(model => model.employee.DepartmentId)<br />
            <label>Age</label> @Html.TextBoxFor(m => m.employee.Age) <br />
            <label>Designation</label> @Html.TextBoxFor(m => m.employee.Designation) <br />
            <label>Address</label> @Html.TextBoxFor(m => m.employee.Address) <br />
            @Html.LabelFor(m => m.employee.Email) @Html.TextBoxFor(m => m.employee.Email) * @Html.ValidationMessageFor(model => model.employee.Email)<br />

            Male @Html.RadioButtonFor(m => m.employee.Gender, "male") Female @Html.RadioButtonFor(m => m.employee.Gender, "female")
            * @Html.ValidationMessageFor(model => model.employee.Gender) <br />

            <input type="submit" value="Add" />


        </form>
    </div>
</body>
</html>