@model Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Detail</title>
</head>
<body>
    <div>
        <form method="post">
            <label>Id</label> @Model.Id<br />
            <label>Name</label> @Model.Name<br />
            <label>Department</label>@Model.DepartmentId<br />
            <label>Age</label>@Model.Age<br />
            <label>Designation</label>@Model.Designation<br />
            <label>Address</label>@Model.Address<br />
            <label>Gender</label>@Model.Gender
        </form>
    </div>
</body>
</html>